[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aspen-pyconnect = "0.1.11"
python-dotenv = "0.19.2"
matplotlib = "3.5.0"
scikit-learn = "1.0.1"
numpy = "1.21"
pandas = "1.3.4"
data-preprocessing = "0.0.2"
seaborn = "*"
xgboost = "*"
pandasql = "*"
graphviz = "*"

[requires]
python_version = "3.9"
